#banner{
    /*display:grid;
    grid-template-columns:1fr 1fr;*/
    text-align:center;                         
    border-bottom:3px solid black;
}
.sungil{
    display:inline;
    font-size:60px;
}
a{
    color:black;
    text-decoration:underline 3px skyblue; 
}
body{
    margin:0;
    padding:0;
}
#bm{
    display:grid;
    grid-template-columns: 250px 1fr;
}
li {
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.mch{
    border-right:1px solid black;
    width:200px;
    margin:0;
    text-decoration:none;
}
.information{
    font-size:25px;
    padding-right:50px;
}
a:hover{
    color:gray;
}
a:active{
    color:red;
}
*::selection{
    background-color:white;
    color:purple;
}
.yel::selection{
    color:yellow;
    
}
.yel{
    text-shadow: 2px 2px 3px yellow;
}
.blu::selection{
    color:blue;
    
}
.blu{
    text-shadow: 2px 2px 3px blue;
}
.red::selection{
    color:red;
    
}
.red{
    text-shadow: 2px 2px 3px red;
}
#bt{
    border-radius:5px;
    background-color:gray;
    color:white;  
}
@media(max-width: 500px){
    body{
        display:none;
    }
}